.inside_li_in_slider {
  height: 100%;
  background: #faebd7;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    position: relative;
    top: -35px;
    color: #ffffff;
    text-align:center;

    h1 {
      text-align: center;
      font-size: 51px;
      color: rgba(52, 166, 78, 1);
      letter-spacing: 7px;
      margin-top: 10px;
    }

    p {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      font-family: "TTW";
      font-size: 25px;
    }

    div {
      margin-top: 30px;

      a {
        outline: none;
        text-decoration: none;
        height: 40px;
        display: inline-block;
        width: 200px;
        line-height: 40px;
        padding-left: 3px;
        font-family: "Minecraft";
        color: #35C93C;
        border-right: 1px solid #000;
        background: url(../img/btn.png) 0 -40px;
      }

      a:hover {
        background: url(../img/btn.png) 0 -80px;
        box-shadow: 0 0 10px gray;
      }

      a:visited {
        color: #35C93C;
        background: url(../img/btn.png) 0 0;
      }
    }
  }

  h1 {
    font-family: "Digital Tech";
    font-size: 45px;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  p {
    font-family: "Inconsolata", monospace;
  }
}