.section_three {
  background-color: #fff;

  .cd_header_block {

    h1 {
      margin: 0;
      padding-top: 15px;
      width: 100%;
      text-align: center;
      font-family: "Minecraft";
      background: gray;
      color: #ffffff;
      font-size: 55px;
      text-shadow: 0 0 1px #000;
      padding-bottom: 20px;
    }
  }
}