
.cd-hero {
  position: relative;
  width: 100%;
  z-index: 3;

  ul {
    list-style-type: none;
  }

  .cd-header {
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 0 5px 0;
    font-family: "Minecraft";
  }
}

.cd-hero-slider {
  position: relative;
  height: 80vh;
  overflow: hidden;

  li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(100%);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: trasform .5s;

    &.selected {
      position: relative;
      transform: translateX(0);
      transition: transform .5s;
    }
    &:first-of-type {
      //background-color: red;
      background-image: url(../img/slider_big_images_razmit/vanilla.jpg);
    }
    &:nth-of-type(2) {
      //background-color: yellow;
      background-image: url(../img/slider_big_images_razmit/kindoms.png);
    }
    &:nth-of-type(3) {
      //background-color: green;
      background-image: url(../img/slider_big_images_razmit/skyblock.jpg);
    }
    &:nth-of-type(4) {
      //background-color: aqua;
      background-image: url(../img/slider_big_images_razmit/creative.jpg);
    }
    &:nth-of-type(5) {
      //background-color: blue;
      background-image: url(../img/slider_big_images_razmit/games.jpg);
    }
    &.move-left {
      transform: translate(-100%);
    }

    &.is-moving {
      transition: transform .5s;
    }
  }
}

.inside_slider_nav {
  //background-color: #35C93C;
  opacity: 0.5;
  background-size: cover;
  position:relative;
  top: -70px;
  z-index: 3;
  left: 0;
  width: 100%;
  height: 70px;
}

.cd-maker {
  position: absolute;
  width: 150px;
  height: 70px;
  background-color: #ffffff;
  bottom: 0;
  z-index: 5;
  background: url(../img/slider_nav_icons/0.png) top center no-repeat;
  background-size: cover;
  transform: translateY(0);
  transition: transform ease-in-out .2s, background ease-in-out .3s;
}

.cd-slider-nav {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.45);

  nav {
    width: 750px;
    height: 70px;
    margin: 0 auto;
    position: relative;
  }

  ul {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
  }

  ul li {
    display: inline-block;
    height: 100%;
    transition: all ease-in-out .3s;

    a {
      position: relative;
      display: inline-block;
      color: #fff;
      text-decoration: none;
      line-height: 70px;
      height: 100%;
      width: 150px;
      z-index: 6;
      font-family: "Minecraft";
      text-align: center;
      transition: background ease-in-out .5s;
    }

    span {
      transition: all ease-in-out .1s;
      display: inline-block;
    }

    &.selected {
      a {
        color: #fff;

        span {
          transform: translateY(-20px);
        }
      }
    }
  }
}