.cd-hero {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.cd-hero ul {
  list-style-type: none;
}
.cd-hero .cd-header {
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 0 5px 0;
  font-family: "Minecraft";
}
.cd-hero-slider {
  position: relative;
  height: 60vh;
  overflow: hidden;
}
.cd-hero-slider li {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(100%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: trasform .5s;
}
.cd-hero-slider li.selected {
  position: relative;
  transform: translateX(0);
  transition: transform .5s;
}
.cd-hero-slider li:first-of-type {
  background-image: url(../img/slider_big_images/vanilla.jpg);
}
.cd-hero-slider li:nth-of-type(2) {
  background-image: url(../img/slider_big_images/kindoms.png);
}
.cd-hero-slider li:nth-of-type(3) {
  background-image: url(../img/slider_big_images/skyblock.jpg);
}
.cd-hero-slider li:nth-of-type(4) {
  background-image: url(../img/slider_big_images/creative.jpg);
}
.cd-hero-slider li:nth-of-type(5) {
  background-image: url(../img/slider_big_images/games.jpg);
}
.cd-hero-slider li.move-left {
  transform: translate(-100%);
}
.cd-hero-slider li.is-moving {
  transition: transform .5s;
}
.cd-slider-nav ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-slider-nav ul li {
  display: inline-block;
  height: 100%;
}
.cd-slider-nav ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 70px;
  height: 100%;
  width: 120px;
  font-family: "Minecraft";
  text-align: center;
  transition: all ease-in-out 0.3s;
}
.cd-slider-nav ul li.selected a {
  color: #000;
  transition: all ease-in-out 0.3s;
  background-color: #faebd7;
}
