.section_four_a {
  height: 1000px;
  width: 100%;
  position: relative;
}
.section_four_a h1 {
  margin: 0;
  padding-top: 15px;
  width: 100%;
  text-align: center;
  font-family: "Minecraft";
  background: #000000;
  color: #ffffff;
  font-size: 55px;
  text-shadow: 0 0 1px #000;
  padding-bottom: 20px;
}
.section_four_a .block {
  height: 500px;
  background-color: #fff;
  overflow: hidden;
}
.section_four_a .block p {
  transition: all .4s;
  font-size: 25px;
  font-family: "TTW";
  white-space: nowrap;
  margin-right: 0 !important;
  display: block;
  clear: both;
}
.section_four_a .block .p_blocks {
  width: 80%;
  transform: perspective(1500px) rotate3d(0, 1, 0, 25deg);
  position: relative;
  top: 30%;
  margin-left: 10%;
}
.section_four_a .block .p_1 {
  width: 618px;
  height: 88px;
  background: url(../img/advantages_img/iron_block.png);
  background-size: 88px 88px;
}
.section_four_a .block .p_2 {
  width: 790px;
  height: 88px;
  margin-left: 85px;
  background: url(../img/advantages_img/gold_block.jpg);
  background-size: 88px 88px;
}
.section_four_a .block .p_3 {
  top: 256px;
  width: 968px;
  height: 88px;
  margin-left: 168px;
  background: url(../img/advantages_img/diamond_block.png);
  background-size: 88px 90px;
}
.section_four_a .block_1 {
  background: url(../img/gifted_zombie.gif) center center no-repeat;
  background-position: 101% 2%;
  background-size: 500px 500px;
}
.section_four_a .block_2 {
  background: url(../img/gifted_piggy.gif) center center no-repeat;
  background-position: 0% 50%;
  background-size: 300px 300px;
}
