.section_four {
  height: 500px;
  background: url(../img/section_four2.jpg) center center;
  background-size: cover;
  z-index: -1;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.section_four .inside-section-four {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}
